<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            file-extensions="dart"
            id="com.vogella.dartlanguageserver"
            name="Dart Language Server"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editorContentTypeBinding
            contentTypeId="com.vogella.dartlanguageserver"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.lsp4e.languageServer">
      <server
            class="com.vogella.dartlanguageserver.DartStreamConnectionProvider"
            id="com.vogella.dartlanguageserver.server"
            label="com.vogella.languageserver.dart.server1">
      </server>
      <contentTypeMapping
            contentType="com.vogella.dartlanguageserver"
            id="com.vogella.dartlanguageserver.server"
            languageId="dart">
      </contentTypeMapping>
   </extension>

</plugin>
