<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-names="languageserver_example.txt"
            id="org.eclipsecon.solution-contenttype"
            name="Example Content Type (languageserver_example.txt)"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editorContentTypeBinding
            contentTypeId="org.eclipsecon.solution-contenttype"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.lsp4e.languageServer">
      <server
            class="com.vogella.languageserver.asciidoc.client.ConnectionProviderSolution"
            id="org.eclipsecon.languageserverplugin.solutionserver"
            label="Solution Server">
      </server>
      <contentTypeMapping
            contentType="com.vogella.editor.asciidoc.contenttype"
            id="org.eclipsecon.languageserverplugin.solutionserver">
      </contentTypeMapping>
   </extension>
</plugin>
