<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
      <hyperlinkDetector
            activate="true"
            class="com.vogella.ide.editor.companylink.VogellaHyperlinkDetector"
            id="com.vogella.ide.editor.companylink.vogela"
            name="vogella Company name"
            targetId="org.eclipse.ui.genericeditor.GenericEditor">
      </hyperlinkDetector>
   </extension>

</plugin>
