bin/
target
*~
*.rej
*.bak
javacore.*
heapdump.*
core.*
Snap.*
/.settings/
/.project
.DS_Store
.polyglot.META-INF
.polyglot.ide.product
.polyglot.feature.xml
.tycho-consumer-pom.xml
.polyglot.category.xml
.polyglot.target-platform.target