<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="true"
            category="com.vogella.resources.todo"
            class="com.vogella.resources.NewTodoProjectWizard"
            id="com.vogella.resources.wizard.todoproject"
            name="Todo Project"
            project="true">
      </wizard>
      <category
            id="com.vogella.resources.todo"
            name="Vogella">
      </category>
   </extension>
   <extension
         id="com.vogella.resources.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>

</plugin>
