<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            file-extensions="tasks"
            id="com.vogella.ide.contenttype.tasks"
            name="Tasks"
            priority="high">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editorContentTypeBinding
            contentTypeId="com.vogella.ide.contenttype.tasks"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.presentationReconcilers">
      <presentationReconciler
            class="com.vogella.ide.editor.tasks.PropertiesReconciler"
            contentType="com.vogella.ide.contenttype.tasks">
      </presentationReconciler>
   </extension>
   <extension
         point="org.eclipse.ui.themes">
      <colorDefinition
            categoryId="com.vogella.ide.editor.tasks.settings"
            id="com.vogella.ide.editor.tasks.key"
            label="Task key color"
            value="255,0,0">
      </colorDefinition>
      <themeElementCategory
            id="com.vogella.ide.editor.tasks.settings"
            label="Tasks settings">
      </themeElementCategory>
      <colorDefinition
            categoryId="com.vogella.ide.editor.tasks.settings"
            id="com.vogella.ide.editor.tasks.key2"
            label="Task Description Color"
            value="0,255,0">
      </colorDefinition>
   </extension>
   <extension
      point="org.eclipse.ui.genericeditor.contentAssistProcessors">
   <contentAssistProcessor
         class="com.vogella.ide.editor.tasks.TodoPropertiesContentAssistProcessor"
         contentType="com.vogella.ide.contenttype.tasks">
   </contentAssistProcessor>
   <contentAssistProcessor
         class="com.vogella.ide.editor.tasks.DependentTodoContentAssistProcessor"
         contentType="com.vogella.ide.contenttype.tasks">
   </contentAssistProcessor>
     <contentAssistProcessor
         class="com.vogella.ide.editor.tasks.TodoPropertiesContentAssistProcessorOsgiService"
         contentType="com.vogella.ide.contenttype.tasks">
   </contentAssistProcessor>
	</extension>
	<extension
       point="org.eclipse.core.filebuffers.documentSetup">
    <participant
          class="com.vogella.ide.editor.tasks.TodoMarkerDocumentSetup"
          contentTypeId="com.vogella.ide.contenttype.tasks">
    </participant>
 </extension>
 
 <extension
       point="org.eclipse.ui.genericeditor.hoverProviders">
    <hoverProvider
          class="com.vogella.ide.editor.tasks.TasksTextHover"
          contentType="com.vogella.ide.contenttype.tasks">
    </hoverProvider>
 </extension>
 <extension
       point="org.eclipse.ui.genericeditor.reconcilers">
    <reconciler
          class="org.eclipse.jface.text.codemining.CodeMiningReconciler"
          contentType="com.vogella.ide.contenttype.tasks">
    </reconciler>
 </extension>
 
 <extension
       point="org.eclipse.ui.workbench.texteditor.codeMiningProviders">
    <codeMiningProvider
          class="com.vogella.ide.editor.tasks.TaskCodeMiningProvider"
          id="com.vogella.ide.editor.tasks.codeMiningProvider"
          label="Show additional task info">
       <enabledWhen>
          <with
               variable="editorInput">
                <adapt type="org.eclipse.core.resources.IFile">
                   <test property="org.eclipse.core.resources.contentTypeId" value="com.vogella.ide.contenttype.tasks" />
				</adapt>
          </with></enabledWhen>
    </codeMiningProvider>
 </extension>
 <extension
       point="org.eclipse.core.contenttype.contentTypes">
    <content-type
          file-extensions="lars"
          id="com.vogella.ide.editor.tasks.content-type1"
          name="Lars"
          priority="normal">
    </content-type>
 </extension>
 <extension
       point="org.eclipse.ui.editors">
    <editorContentTypeBinding
          contentTypeId="com.vogella.ide.editor.tasks.content-type1"
          editorId="org.eclipse.ui.genericeditor.GenericEditor">
    </editorContentTypeBinding>
 </extension>

</plugin>
