<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.lsp4e.languageServer">
      <server
            class="com.vogella.lsp.asciidoc.client.ConnectionProviderSolution"
            id="org.vogella.lsp.asciidoc.server"
            label="Solution Server">
      </server>
      <contentTypeMapping
            contentType="com.vogella.editor.asciidoc.contenttype"
            id="org.vogella.lsp.asciidoc.server">
      </contentTypeMapping>
   </extension>
</plugin>
