<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.lsp4e.languageServer">
      <server
            class="com.vogella.lsp.asciidoc.client.ConnectionProviderSolution"
            id="com.vogella.lsp.asciidoc.client.server"
            label="AsciiDoc Language Server">
      </server>
      <contentTypeMapping
            id="com.vogella.lsp.asciidoc.client.contentTypeMapping"
            contentType="com.vogella.editor.asciidoc.contenttype"
            server="com.vogella.lsp.asciidoc.client.server"
            languageId="asciidoc">
      </contentTypeMapping>
   </extension>
</plugin>
