<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="com.vogella.tasks.ui.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            apply="always"
            uri="commands.e4xmi">
      </fragment>
      <fragment
            uri="fragment.e4xmi"
            apply="always">
      </fragment>
      <fragment
            apply="always"
            uri="testing.e4xmi">
      </fragment>
      <processor
            apply="always"
            beforefragment="true"
            class="com.vogella.tasks.ui.Processor1">
      </processor>
   </extension>

</plugin>
