<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="com.vogella.adapters.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
      point="org.eclipse.core.runtime.adapters">
   <factory
         adaptableType="com.vogella.tasks.model.Todo"
         class="com.vogella.adapters.TodoAdapterFactory">
      <adapter
            type="org.eclipse.ui.model.IWorkbenchAdapter">
      </adapter>
      <adapter
            type="org.eclipse.ui.model.IWorkbenchAdapter2">
      </adapter>
      <adapter
            type="org.eclipse.ui.model.IWorkbenchAdapter3">
      </adapter>
       <adapter
            type="org.eclipse.ui.views.properties.IPropertySource"> 
      </adapter>
       <adapter
             type="org.eclipse.ui.views.contentoutline.IContentOutlinePage">
       </adapter>
   </factory>
</extension>

</plugin>
