<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="bytecode"
            id="com.vogella.ide.editor.bytecode.content-type"
            name="JVM Bytecode"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editorContentTypeBinding
            contentTypeId="com.vogella.ide.editor.bytecode.content-type"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.tm4e.registry.grammars">
      <grammar
            path="syntaxes/bytecode.tmLanguage.json"
            scopeName="source.jvm-bytecode">
      </grammar>
      <scopeNameContentTypeBinding
            contentTypeId="com.vogella.ide.editor.bytecode.content-type"
            scopeName="source.jvm-bytecode">
      </scopeNameContentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.tm4e.languageconfiguration.languageConfigurations">
      <languageConfiguration
            contentTypeId="com.vogella.ide.editor.bytecode.content-type"
            path="language-configurations/bytecode.language-configuration.json">
      </languageConfiguration>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.vogella.ide.editor.bytecode.category"
            name="Bytecode">
      </category>
      <command
            categoryId="com.vogella.ide.editor.bytecode.category"
            defaultHandler="com.vogella.ide.editor.bytecode.ShowBytecodeHandler"
            id="com.vogella.ide.editor.bytecode.show"
            name="Show Bytecode">
      </command>
      <command
            categoryId="com.vogella.ide.editor.bytecode.category"
            defaultHandler="com.vogella.ide.editor.bytecode.CreateQuickSortDemoHandler"
            id="com.vogella.ide.editor.bytecode.quicksortDemo"
            name="Create QuickSort Demo">
      </command>
      <command
            categoryId="com.vogella.ide.editor.bytecode.category"
            id="com.vogella.ide.editor.bytecode.translate"
            name="Translate with Claude">
         <commandParameter
               id="com.vogella.ide.editor.bytecode.language"
               name="Language"
               optional="true">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.vogella.ide.editor.bytecode.TranslateHandler"
            commandId="com.vogella.ide.editor.bytecode.translate">
         <activeWhen>
            <reference
                  definitionId="com.vogella.ide.editor.bytecode.bytecodeEditorActive">
            </reference>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.vogella.ide.editor.bytecode.bytecodeEditorActive">
         <with
               variable="activeEditorInput">
            <adapt
                  type="org.eclipse.core.resources.IFile">
               <test
                     property="org.eclipse.core.resources.contentTypeId"
                     value="com.vogella.ide.editor.bytecode.content-type">
               </test>
            </adapt>
         </with>
      </definition>
   </extension>

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="com.vogella.ide.editor.bytecode.menu"
               label="Bytecode">
            <command
                  commandId="com.vogella.ide.editor.bytecode.quicksortDemo"
                  style="push">
            </command>
            <command
                  commandId="com.vogella.ide.editor.bytecode.show"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="com.vogella.ide.editor.bytecode.show"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                        <or>
                           <test
                                 property="org.eclipse.core.resources.extension"
                                 value="java">
                           </test>
                           <test
                                 property="org.eclipse.core.resources.extension"
                                 value="class">
                           </test>
                        </or>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:#TextEditorContext?after=additions">
         <menu
               id="com.vogella.ide.editor.bytecode.contextTranslateMenu"
               label="Translate with Claude to">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="com.vogella.ide.editor.bytecode.bytecodeEditorActive">
               </reference>
            </visibleWhen>
            <dynamic
                  class="com.vogella.ide.editor.bytecode.TranslateMenu"
                  id="com.vogella.ide.editor.bytecode.contextTranslateMenu.items">
            </dynamic>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.workbench.texteditor.codeMiningProviders">
      <codeMiningProvider
            class="com.vogella.ide.editor.bytecode.TranslateCodeMiningProvider"
            id="com.vogella.ide.editor.bytecode.translateCodeMiningProvider"
            label="Translate with Claude">
         <enabledWhen>
            <with
                  variable="editorInput">
               <adapt
                     type="org.eclipse.core.resources.IFile">
                  <test
                        property="org.eclipse.core.resources.contentTypeId"
                        value="com.vogella.ide.editor.bytecode.content-type">
                  </test>
               </adapt>
            </with>
         </enabledWhen>
      </codeMiningProvider>
   </extension>
</plugin>
