<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="asciidoctor.vogella"
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="adoc"
            id="com.vogella.editor.asciidoc.contenttype"
            name="Asciidoc"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editorContentTypeBinding
            contentTypeId="com.vogella.editor.asciidoc.contenttype"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.tm4e.registry.grammars">
      <grammar
            path="syntaxes/asciidoc.tmLanguage"
            scopeName="com.vogella.ide.editor.asciidoc.grammar">
      </grammar>
      <scopeNameContentTypeBinding
            contentTypeId="com.vogella.editor.asciidoc.contenttype"
            scopeName="com.vogella.ide.editor.asciidoc.grammar">
      </scopeNameContentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.tm4e.languageconfiguration.languageConfigurations">
      <languageConfiguration
            contentTypeId="com.vogella.editor.asciidoc.contenttype"
            path="language-configurations/asciidoc.json">
      </languageConfiguration>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.icons">
      <icon
            contentType="com.vogella.editor.asciidoc.contenttype"
            icon="icons/asciidoc.png">
      </icon>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.contentAssistProcessors">
      <contentAssistProcessor
            class="com.vogella.ide.editor.asciidoc.AsciidocContentAssistProcessor"
            contentType="com.vogella.editor.asciidoc.contenttype">
      </contentAssistProcessor>
   </extension>
 <extension
       point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
    <hyperlinkDetector
          activate="true"
          class="com.vogella.ide.editor.asciidoc.IncludeHyperlinkDetector"
          id="com.vogella.ide.editor.asciidoc.hyperlinkDetector"
          name="Hyperlink for other include files"
          targetId="org.eclipse.ui.genericeditor.GenericEditor">
    </hyperlinkDetector>
 </extension>
</plugin>
