<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            file-extensions="gradle"
            id="com.vogella.ide.editor.gradle.content-type"
            name="Gradle vogella"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editorContentTypeBinding
            contentTypeId="com.vogella.ide.editor.gradle.content-type"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.presentationReconcilers">
      <presentationReconciler
            class="com.vogella.ide.editor.gradle.GradlePresentationReconciler"
            contentType="com.vogella.ide.editor.gradle.content-type">
      </presentationReconciler>
   </extension>
   <extension
         point="org.eclipse.ui.themes">
      <colorDefinition
            id="com.vogella.ide.editor.gradle.colorDefinition1"
            label="Lars seine Farbe"
            value="255,0,0">
      </colorDefinition>
   </extension>

</plugin>
